{% extends "layout.twig" %}

{% block title %}
  {{ titleText }}
{% endblock %}

{% block content %}
  {% include 'message.twig' %}
  
    <div class="row">
      <div class="col-md-6">
          <h3>Все комментарии</h3>
      </div>
    </div>
   
    <div class="row">
      <div class="col-md-12">
        {% if allComments is not empty %}
          {% for item in allComments %}
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="comment">
                  <div class="row">
                    <div class="col-md-10">
                      <div class="userName ">
                        <img src={% if userData["img"] != null %} "{{ userData["img"] }}" {% else %}"img/avatar/noavatar.png"  {% endif %} class="img-responsive img-circle pull-left avatar">
                        <span> 
                          {{userData["Name"]}} {{userData["Subname"]}}
                        </span>
                        <h5 class="gray_text">
                          К книге: <a href="book.php?book_id={{ item["book_id"] }}">{{ item["name"]}}</a>
                        </h5>
                      </div>
                      <div class="commentText">
                        <span>{{ item["comment"]|e|nl2br }}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <h4>
            Похоже, Вы еще не оставили комментариев
          </h4>
        {% endif %}
        
      </div>
    </div>

{% endblock %}
