{% extends "layout.twig" %}

{% block title %}
  {{ titleText }}
{% endblock %}

{% block content %}
  {% include 'message.twig' %}
  <div class="row">
    <div class="col-md-3">
      <img src="{{ book[0].image }}" class="img-responsive book_big_cover pull-right">
    </div>
     <div class="col-md-9">
      <h2>{{ book[0].name }}</h2>
      <h3>{{ book[0].house_name }}</h3>
      <h3>{{ book[0].year }}г.</h3>
      <span class="like_big_icon">
        {{ book[0].likeCount }}
      </span>
      <span class="comment_big_icon">
        {{ book[0].commentCount }}
      </span>
      <div class="buttons_book">
        <a target="_blank" href="{% if link is empty %} # {% else %} {{ link }} {% endif %}" type="button" class="btn btn-success btn-lg 
        {% if link is  empty %} disabled {% endif %}">
          {% if link is  empty %} Нет активной ссылки {% else %} Скачать {% endif %}
        </a>
        <a href="actions/like_book.php?id={{ bookId }}" type="button" class="btn {% if likeBtn == 'lock' %}btn-primary {% elseif  likeBtn == 'free' %} btn-info  {% elseif likeBtn == 'off' %} btn-info disabled {% endif %} btn-lg "> 
          {% if  likeBtn == 'free' %} 
            <span class="glyphicon glyphicon-heart"></span> 
            Мне нравится
          {% else %}
            <span class="glyphicon glyphicon-thumbs-down"></span>
            Больше не нравится
          {%endif%}
        </a>
        
        {% if admin %}
          <a href="edit_book.php?id={{ bookId }}" type="button" class="btn btn-danger btn-lg "> 
            <span class="glyphicon glyphicon-pencil"></span> 
            Редактировать
          </a>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>Описание</h2>
    </div>
    <div class="col-md-12">
      <h4 class="text-justify">
        {{ description|e|nl2br }}
      </h4>
    </div>
  </div>
    
{% endblock %}
