<div class="row">
  <div class="col-md-12 col-sm-12 comments add_comment_area">
    <div class="commentsCnt">
      <h3>
        Комментарии ({{ countComment }})
      </h3>
    </div>
    {% if isUserLogin %}
      <div class="comment ">
          <div>
            <form action="actions/add_comment.php" method="post">              
              <div class="form-group">
                <textarea class="form-control" name="text" placeholder="Написать комментарий" required 
                rows="4" style="resize:none"></textarea> 
                <input type="hidden" name="book_id" value="{{ bookId }}"/>
              </div>
              <button type="submit" class="btn btn-primary pull-left btn-sm" id="commentBtn">Отправить</button>
            </form>
          </div>
      </div>
    {% endif %}
  </div>
  
  <div class="col-md-12 col-sm-12 comments">
    {% for comment in commentsData %}
      <div class="comment">
        <div class="row">
          <div class="col-md-12">
            <div class="userName ">
              <div class="pull-left" style="width 100px; height:100px;">
                <img src={% if comment.img == null %} "img/avatar/noavatar.png" {% else %} "{{ comment.img }}"{% endif %} class="img-responsive img-circle avatar">
              </div>
              <span> 
                {{ comment.Name }} {{ comment.Subname }} 
              </span>
              <span class="data_text">
                {{ comment.date }}
              </span>
            </div>
            <div class="commentText">
              <span>{{ comment.comment|e|nl2br }}</span>
            </div>
            {% if admin %}
              <form action="actions/delete_comment.php" method="post">
                <input type="hidden" name="commentId" value="{{ comment.id }}">
                <input type="hidden" name="bookId" value="{{ comment.book_id }}">
                <button type="submit" class="btn btn-danger pull-right btn-sm">Удалить</button>
              </form>
            {% endif %}
          </div>            
        </div>
      </div>
    {% endfor %}
    
  </div>
</div>