{% extends "layout.twig" %}

{% block title %}
  {{ titleText }}
{% endblock %}

{% block content %}
    {% include 'message.twig' %}
      <div class="row">
        <div class="col-md-10  col-md-offset-1">
          <h3>Редактирование персональных данных</h3>
            <form action="actions/update_user.php" method="post" enctype="multipart/form-data">
              <input type="hidden" value=" {{ userId }}" name="userId">
              <label for="username">Имя</label>
              <input class="form-control" id="username" value="{{ user["Name"] }}" name="name" autocomplete="off" required>
              
              <label for="usersubname">Фамилия</label>
              <input class="form-control" id="usersubname" 
              value="{{ user["Subname"] }}" name="subname" autocomplete="off" required>

              <label for="userEmail">E-mail</label>
              <input class="form-control" id="userEmail" 
              value="{{ user["email"] }}" name="email" autocomplete="off">

              <label for="userOldPass">Пароль для подтверждения</label>
              <input type="password" class="form-control" id="userOldPass" 
              value="" name="oldPass" placeholder="Обязательно" required>
              
              <label for="userNewPass1">Смена пароля</label>
              <div class="row">
                <div class="col-md-6">
                  <input type="password" class="form-control" id="userNewPass1" 
                  value="" name="pass1" placeholder="Запонить, если нужно обновить">
                </div>
                <div class="col-md-6">
                  <input type="password" class="form-control" id="userNewPass2" 
                  value="" name="pass2" placeholder="Повторите, чтобы не ошибиться">
                </div>
              </div>
              <label>Ваша фотография</label>
              <input type="file" class="form-control" accept="image/*,image/jpeg" name="avatar"/>
              <div>
                <input class="form-check-input" type="checkbox" name="deleteAvatar" id="delAvatar"/>
                <label class="form-check-label" for="delAvatar">
                  Удалить аватар
                </label>
              </div>
              
              <button type="submit" class="btn btn-success small_buttons_book">Обновить</button>
            </form>
        </div>
      </div>
{% endblock %}